.Card{
    display: flex;
    margin: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:5em 5em;
    position: relative;
    padding: 0 5em 0 5em;
    @media(max-width:768px){
        // gap: 2rem;
    }
    @media(max-width:1120px){
        padding: 0;
    }
    .one{
        background-color: #fff6f5;
    }
    .two{
        background-color: #fff5dc;
    }
    .three{
        background-color: #ffe1df;
    }
    .four{
        background-color: #eafdff;
    }
}
.card-container{
    display: flex;
    height: 80vh;
    align-items: center;
    text-align: center;
    align-content: space-between;
    width: 60rem;
    flex-direction: column;
    row-gap:2em;
    border-radius: 30px;
    // flex-wrap: wrap;
    @media(max-width:768px){
        width: 100%;
        height: auto;
    }
    @media(min-width:1250px){
     width: 40rem;  
     height: auto;     
    }
    .card-img{
        img{
            max-width: 100%;
        }
}
}
.card-text{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 3em;
    align-items: center;
    text-align: center;
    @media(max-width:768px){
        height: 80%;
        padding: 1rem;
    }
    @media(min-width:1250px){
     height: auto;       
    }
    h2{
        font-weight: 700;
        margin-bottom: 1.5em;
        @media(max-width:768px){
            margin: 1.5rem 0 1.5rem 0;
            padding: 1.5rem 0 1.5rem 0;
        }
    }
    p{
        margin-bottom: 1.5em;
        text-align: center;
    }
}
.card-btn{
    border: none;
    width: 9em;
    height: 3em;
    color: white;
    background-color: #ff631c;
    transition: 0.3 ease;
    border-radius: 5px;
    cursor: pointer;
    @media(min-width:769px){
        font-size: 1.2rem;
    }
        @media(min-width:1850px){
            
        }
      
    
    &:hover{
        background: inherit;
        border: 0.5px white outset;
        color: inherit;
    }
}