.Centre{
    text-align: center;
    .title{
        font-weight: 700;
        margin: 2em 0 2em 0;
        font-size: 3rem;
    }
}
.centre-container{
    display:flex;
    justify-content: space-around;
    background-color: #f0ebfd;
    position: relative;
    height: 80vh;
    border-radius: 30px;
    margin: 0 5em 0 5em;
    align-items: center;
    padding: 0 5em 0 5em;
    overflow: hidden;
    @media(max-width:1200px){
        flex-direction: column-reverse;
        height: 130vh;
        align-content:flex-end;
        padding: 0;
    }
    h1{
        font-weight: 700;
        margin:0 2em 1em 2em;
        line-height: 1.5em;
        font-size: 3rem;
        text-align: left;
        @media(max-width:1300px){
            text-align: center;
            font-size: 2rem;
        }
    }
}
.centre-container::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-top-color: white;
	border-right-color: white;
}
.centre-btn{
    border: none;
    width: 12em;
    margin:0 20px 1em 0;
    height: 5em;
    color: rgb(106, 13, 173);    
    background-color:white;
    transition: 0.3 ease;
    border-radius: 50px;
    cursor: pointer;
    span{
        font-weight: 700;
    }
    @media(min-width:769px){
        font-size: 1.2rem;
    }
        @media(min-width:1850px){
            
        }
      
    
    &:hover{
        background: inherit;
        
    }
}
.phone-img{
    height: inherit;
    z-index: 100;
    display: flex;
    margin-right: 2em;
    @media(max-width:1200px){
        display: block;
        max-height: 40%;
        width: 100%;
    }
}