.footer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    // background-color: rgba(249, 250, 252, 0.2);
    background-color: rgba(106, 13, 173,0.05);
    padding: 10vh 3em 0 2em;
@media(min-width:769px){
        flex-direction: row;
        height: 80vh;
        align-items:center;
        align-content: center;
        padding-top: 1vh;
}
    @media(min-width:1850px){
        }
}
.footerleft{
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    // text-align: center;
   

    
    @media(min-width:769px){
        padding: 4em 3em 0 3em;
        width: 30%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
        @media(min-width:1150px){
            padding: 0 3em 0 3em;
            width: 30%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
      
    
    .footerlink{
        text-decoration: none;
    }
    h2{
        margin: 0;
        padding: 0;
    }
    p{
        width: 70%;
        line-height: 1.7em;
        font-size: 0.9rem;
        @media(max-width:768px){
            margin-left: auto;
            margin-right: auto;
        }
        @media(min-width:769px){
        text-align: left;
            line-height: 2em;
            margin-bottom: 2em;
        }
            @media(min-width:1850px){
                
            }
          
        
    }
}
.footerbtn button{
    // padding: 0.7em;
    color: #6a0dad;
    background-color: white;
    box-shadow: 3px 3px #e9eaec;
    height: 5em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    margin:0 15px 2em 0;
    @media(min-width:769px){
    }
        @media(min-width:1850px){
            
        }
   
}
.footerright{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4em;
    text-align: center;
    display: flex;
  
    @media(min-width:769px){
        padding-top: 0;
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        text-align: left;
    }
        @media(min-width:1850px){
            
        }
      
    

}
.linkTitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    @media(min-width:769px){
    margin-bottom:3em;
    }
        @media(min-width:1850px){
            
        }
      
    
}
.footerlogo{
    display: block;
    text-decoration: none;
    color: #333;
    // padding-bottom: 0.5em;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
}
.footerlink{
    display: block;
    text-decoration: none;
    color: #333;
    padding-bottom: 1em;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    @media(min-width:769px){
    height: 3em;
    }
        @media(min-width:1850px){
            
        }
      
    
    &:hover{
        text-decoration: underline;
    }
}
